{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "67",
        "firefox": "61"
      }
    }],
    "@babel/preset-react",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}